rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /creations/{creationId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && request.resource.data.authorId == request.auth.uid;
    }
  }
}
